/*Extension window*/
* {
	font-family: Arial, Verdana, sans-serif;
}
body {
    min-width: 357px;
	min-height: 357px;
 
}

/* RESULTS */
#results {
	display: block;
}
li {

}
a {
	font-family: Helvetica, sans-serif;
}

/* FILTER */
#filters {
	display: block;
}