/* General cosmetics */
:root {
  --main-bg-color: #fffe;
  --main-txt-color: white;  
  --main-padding: 10px; 
}

/*Extension window*/

body {
	font-family: Helvetica, sans-serif;
 	width: 357px;
  	min-height: 357px;
}

/* RESULTS */
#results {
	display: block;
	max-width: 75%;
	float: right;
}

a[href^="undefined"]{
	display: none;
}

/* FILTER */
#filters {
	width:25%;
	display: block;
	background-color: white;
  border-radius: 5px;
	float: left;
  padding-bottom: var(--main-padding);
}

.btn {
  max-width: 100%;
  font-size: 14px;
  border: none;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 5px;
  right: 0;
  background-color: var(--main-bg-color);
  width: 125%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Appearance of links inside list*/
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*Change item background color on hover*/
.dropdown-content a:hover {background-color: #f1f1f1;}

/* for hoverable dropdown menu*/
.dropdown:click .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--main-bg-color);
}

.show {display:block;}

.slider {
  max-width: 100%;
}
