/* General cosmetics */
:root {
  --main-bg-color: #ffff;
  --main-txt-color: white;  
  --main-padding: 10px; 
}

/*Extension window*/
body {
 	width: 357px;
 	height: 357px;
  	margin-top: 0px;
  	background-color: var(--main-bg-color);
  	font-weight: 300;
  	font-style: normal;
}

img {
	width:30px;
	height: 30px;
}

h1, h2 {
	font-weight: 400;
	margin: 5px;
	background-color: var(--main-bg-color);
}

h2 {
	width: 50%
}

/* Appearance of results*/
ul {
	padding-top: 80px;
	padding-inline-start: 10px;
    list-style-type: none;
}

li:hover {
	background-color: #f1f1f1;
}

/* Appearance of filter components*/
label {
	padding-top:5px;
	display: block;
}

#brand{
	
	width: 100%;
	height: 10%;
	display:flex;
	justify-content: space-around;
	position: fixed;
	background-color: var(--main-bg-color);
}

#tagline {
	font-style:italic;
}

#resultstitle{
	top:50px;
	position:fixed;
	width:100%;
}


/* RESULTS */
#results {
	z-index:-1;
	top:100px;
	display: inline-block;
	width: 70%;
	float: right;
	position: sticky;
}

a {
	font-weight: 400;
}
/*Don't display broken/incomplete links*/
a[href^="undefined"]{
	display: none;
}

/* FILTER */
#filters {
	top:50px;
	width:30%;
	position: fixed;
	display: block;
	background-color: var(--main-bg-color);
  	border-radius: 5px;
	float: left;
  	padding-bottom: var(--main-padding);
}

.btn {
  max-width: 100%;
  border: none;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.slider {
  max-width: 100%;
  margin: var(--main-padding);
}

/*Size of the actual slider spectrum*/
#myRange {
	height: 15px;
	width: 85%;
}


/*LOADING WHEEL*/
.loader {
  border: 4px solid #f3f3ee; /* Light grey */
  border-top: 4px solid #17539C; /* Globe Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  position:absolute;
  left: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}